<main>
    <article>
        <section>

            <div id="login-form-header">
                <h2>Login</h2>
                <p><%= flash.notice %></p>
            </div>

            <%= form_for(:user, url: login_path) do |f| %>

                <div class="login-flex">
                    <%= f.label :username, "Username:" %>
                    <%= f.text_field :username, placeholder: "Username" %>
                </div>

                <div class="login-flex">
                    <%= f.label :password, "Password:" %>
                    <%= f.password_field :password, placeholder: "Password" %>
                </div>

                <div class="login-flex">
                    <%= f.submit "Log In" %>
                </div>

            <% end %>
        </section>
        
        <section id="other-options">
            <h2>Don't have an account? <%= link_to "Sign up", new_user_path %></h2>
            <h2>Login through Twitter? <%= link_to "Log in", '/auth/twitter' %></h2>
        </section>
    </article>
</main>