<div class="login_form">
<%= form_for(:user, url: login_path) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br>
    <%= f.submit "Log In" %>
    <% end %>
</div>

<h3>Login through Twitter? <%= link_to "Log in", '/auth/twitter' %></h3>
<h3>Don't have an account? <%= link_to "Sign up", new_user_path %></h3>