<header>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Projects", projects_path %></li>
      <li>
        <%= link_to user_path(current_user) do %>
            <% if current_user.profile_image.attached? %>
              <%= image_tag current_user.profile_image  %>
            <% else %>
              <%= image_tag "alien.png", size: "30x30", alt: "default profile image" %>
            <% end %>
        <% end %>
      </li>
      <li><%= link_to "Log Out", destroy_user_session_path, method: 'delete' %></li>
    </ul>
  </nav>
</header>