<header id="loggedin-header">
  <nav id="site-nav">
    <ul class="align-left">
      <li><%= link_to "Projects", projects_path %></li>
      <li><%= link_to "Create New Project", new_project_path %></li>
    </ul>

    <h1 id="root-path"><%= link_to "FilmPitch", root_path %></h1>

    <ul class="align-right">
      <li>
        <%= link_to user_path(current_user), id: "current_user" do %>
            <% if current_user.profile_image.attached? %>
              <%= image_tag current_user.profile_image.variant(resize_to_limit: [40, 40]), alt: "profile image"  %>
            <% else %>
              <%= image_tag "alien.png", size: "40x40", alt: "default profile image" %>
            <% end %>
        <% end %>
      </li>
      <li><%= link_to "Log Out", destroy_user_session_path, method: 'delete' %></li>
    </ul>
  </nav>
</header>

<%= render partial: "banner/loggedin_projects_banner" %>