<header>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Projects", projects_path %></li>
      <li>
        <%= link_to user_path(current_user) do%>
          <%=image_tag current_user.profile_image %>
        <% end %>
      </li>
      <li><%= link_to "Log Out", destroy_user_session_path, method: 'delete' %></li>
    </ul>
  </nav>
</header>