<section id="projects-nav-container">
  <nav>
    <ul id="projects-nav">
      <li><%= link_to  "Popular", popular_projects_projects_path %></li>
      <li><%= link_to  "New", new_projects_projects_path %></li>
      <li><%= link_to  "Fully Funded", fully_funded_projects_path %></li>
      <li><%= link_to  "Genres", genres_path %></li>
      <li><%= link_to  "Film Types", film_types_projects_path %></li>
    </ul>
  </nav>
</section>