<% if @pitch.errors.any? %>

    <section id="error_explanation">
        <h2>There were some errors:</h2>

        <ol>
            <% @pitch.errors.full_messages.each do |message| %>
                <li>
                    <%= message %>
                </l1>
            <% end %>
        </ol>
    </section>

<% end %>

<section class="field<%= ' field_with_errors' if @pitch.errors.any? %>">
        <%= f.label :title %>
    <br>
        <%= f.text_field :title%>
</section>

<section class="field<%= ' field_with_errors' if @pitch.errors.any? %>">
    <br>
        <%= f.label :summary %>
    <br>
        <%= f.text_area :summary %>
</section>

<section class="field<%= ' field_with_errors' if @pitch.errors.any? %>">
    <br>
        <%= f.label :genre %>
    <br>
        <%= f.text_field :genre %>
</section>

<section class="field<%= ' field_with_errors' if @pitch.errors.any? %>">
    <br>
        <%= f.label "Video Link(You must submit the link that is located within the embed 'iframe src=')" %>
    <br>
        <%= f.text_field :video_link %>
</section>

<section class="field<%= ' field_with_errors' if @pitch.errors.any? %>">
    <br>
        <%= f.label :funding_goal %>
    <br>
        <%= f.number_field :funding_goal %>
    <br>
</section>

<section>
    <%= f.hidden_field :user_id, value: current_user.id %>
</section>
