<nav id="navbar" role="navigation" aria-label="Nav">
    <ol>
        <li><%= link_to "Home", root_path%></li>
        <li><%= link_to "Profile", user_path(current_user) %></li>
        <li><%= link_to "Create a new Pitch", new_pitch_path %></li>
        <li><%= link_to "All User Pitches", pitches_path %></li>
        <li><%= link_to "Log Out", logout_path, method: 'delete' %></li>
    </ol>
</nav>


<main class="pitch_form">

        <%= form_for @pitch, :url => { :action => "update" } do |f| %>
                <%= render partial: "pitches/form", locals: {f: f } %>
        <%= f.submit "Submit" %>

        <% end %>
</main>