<nav id="navbar" role="navigation" aria-label="Nav">
    <ol>
        <li><%= link_to "Home", root_path%></li>
        <li><%= link_to "Profile", user_path(current_user) %></li>
        <li><%= link_to "Create a new Pitch", new_pitch_path %></li>
        <li><%= link_to "All User Pitches", pitches_path %></li>
        <li><%= link_to "Log Out", logout_path, method: 'delete' %></li>
    </ol>
</nav>

<main>

    <h1>Pitches:</h1>

    <nav role="navigation" aria-label="User Pitches">
        <% @pitches.each do |pitch| %>
            <div class="user_pitch">
                <p><strong><em><%= link_to pitch.title, pitch_path(pitch.id) %></em></strong> by: <%= link_to pitch.user.username, user_path(pitch.user) %></p>
                <p><%= pitch.summary %></p>
            </div>
        <% end %>
    </nav>

</main>

