<header id="logo">
    <h1>FilmPitch</h1>
</header>

<h1><%= link_to "Home", root_path%></h1>
<%= link_to "Profile", user_path(current_user) %>
<%= link_to "Create a new Pitch", new_pitch_path %>
<%= link_to "Log Out", logout_path, method: 'delete' %>
<h1>Pitches:</h1>

<% @pitches.each do |pitch| %>
    <h3><%= link_to pitch.user.username, user_path(pitch.user) %> - <%= link_to pitch.title, pitch_path(pitch.id) %></h3>
<% end %>
