<nav role="navigation" aria-label="navigation">
    <ol>
        <li><%= link_to "Home", root_path%></li>
        <li><%= link_to "Profile", user_path(current_user) %></li>
        <li><%= link_to "Pitches", user_pitches_path(current_user)%></li>
        <li><%= link_to "Log Out", logout_path, method: 'delete' %></li>
    </ol>
</nav>

<main class="pitch_form">

    <%= form_for @pitch, :url => { :action => "create" } do |f| %>
            <%= render partial: "pitches/form", locals: {f: f} %>
    <%= f.submit "Submit" %>

    <% end %>
    
</main>