<h1><%= link_to "Home", root_path%></h1>
<%= link_to "Profile", user_path(current_user) %>
<%= link_to "Create a new Pitch", new_user_pitch_path(current_user) %>
<%= link_to "All User Pitches", pitches_path %>
<%= link_to "Log Out", logout_path, method: 'delete' %>

<h1>"<%= @pitch.title %>"</h1>
<h5>Genre: <%= @pitch.genre %></h5>
<% if @pitch.video_link.present? %>
<iframe width="560" height="315" src="<%=@pitch.video_link%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<% end %>
<h2>Summary:</h2>
<p><%= @pitch.summary %></p>
<h3>Funding Goal: </h3>
<p><%= @pitch.funding_goal %></p>

<% if @pitch.user == current_user %>
<%= link_to "Edit Pitch", edit_user_pitch_path(@pitch.user, @pitch)%>
<%= link_to "Delete Pitch", user_pitch_path(@pitch.user, @pitch), method: 'delete' %>
<% end %>

<%= link_to "Fund me?", new_pitch_fund_path(@pitch) %>

<p>Users who funded: </p>
<% @pitch.funds.each do |fund| %>
    <p><%= fund.user.username %> funded "<%= fund.pitch.title %>" $<%=fund.amount%></p>
    <% end %>
