<nav class="navbar" role="navigation" aria-label="Nav">
    <ol>
        <li><%= link_to "Home", root_path%></li>
        <li><%= link_to "Profile", user_path(current_user) %></li>
        <li><%= link_to "Create a new Pitch", new_pitch_path(current_user) %></li>
        <li><%= link_to "All User Pitches", pitches_path %></li>
        <li><%= link_to "Log Out", logout_path, method: 'delete' %></li>
    </ol>
</nav>

<main id="show_pitch">

    <article>

        <section id="pitch_user_details">
            <h1>"<%= @pitch.title %>"</h1>
            <p>By <%= @pitch.user.username %></p>
            <h3>Genre: <%= @pitch.genre %></h3>
        </section>

        <% if @pitch.video_link.present? %>
            <iframe width="560" height="315" src=<%=@pitch.video_link%> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

            <section id="with_video">
                <h3>Summary:</h3>
                <p><%= @pitch.summary %></p>
                <h3>Funding Goal: </h3>
                <p>$<%= @pitch.funding_goal %></p>
            </section>

            <nav id="options_with_video" class="navbar" role="navigation" aria-label="Pitch Options">
                <% if @pitch.user == current_user %>
                    <%= link_to "Edit Pitch", edit_pitch_path(@pitch)%>
                <% end %>

                <% if @pitch.funding_goal != 0 %>
                    <%= link_to "Fund me?", new_pitch_fund_path(@pitch) %>
                    <%= link_to "Delete Pitch", pitch_path(@pitch), method: 'delete' %>
                <% end %>
            </nav>

            <section id="users_funding_with_video">
                <% if @pitch.funds.present? %>
                    <p>Users who funded: </p>

                    <% @pitch.funds.each do |fund| %>
                        <p><%= fund.user.username %> funded "<%= fund.pitch.title %>" $<%=fund.amount%></p>
                    <% end %>
                <% end %>
            </section>

            <% else %>

            <section class="without_video">
                <h3>Summary:</h3>
                <p><%= @pitch.summary %></p>
                <h3>Funding Goal: </h3>
                <p>$<%= @pitch.funding_goal %></p>
            </section>

            <nav class="without_video" class="navbar" role="navigation" aria-label="Nav">
                <% if @pitch.user == current_user %>
                    <%= link_to "Edit Pitch", edit_pitch_path(@pitch)%>
                <% end %>

                <% if @pitch.funding_goal != 0 %>
                    <%= link_to "Fund me?", new_pitch_fund_path(@pitch) %>
                    <%= link_to "Delete Pitch", pitch_path(@pitch), method: 'delete' %>
                <% end %>
            </nav>

            <section class="without_video">
                <% if @pitch.funds.present? %>
                    <p>Users who funded: </p>

                    <% @pitch.funds.each do |fund| %>
                        <p><%= fund.user.username %> funded "<%= fund.pitch.title %>" $<%=fund.amount%></p>
                    <% end %>
                <% end %>
            </section>
        <% end %>

    </article>

</main>
