<nav id="navbar" role="navigation" aria-label="Nav">
    <ol>
        <li><%= link_to "Profile", user_path(current_user) %></li>
        <li><%= link_to "Create a new Pitch", new_pitch_path %></li>
        <li><%= link_to "All User Pitches", pitches_path %></li>
        <li><%= link_to "Log Out", logout_path, method: 'delete' %></li>
    </ol>
</nav>

<main>
    <h4> Help make filmmakers dreams come true </h4>

    <h2>Projects fully funded:</h2>
    <% Pitch.order_by_title.each do |pitch| %>
        <section>
            <h3><%= link_to pitch.title, pitch_path(pitch) %></h3>
            <p><%= pitch.summary %></p>
        </section>
    <% end %>
</main>

<footer id="footer">
    <button id="email-creator" onclick='handleOnClick()'>Have suggestions to improve this website?</button>
</footer>

<script>
    function handleOnClick(){
        document.getElementById("footer").innerHTML = `
            <p class="email-creator">
                <em>Email the creator:</em> <a href="mailto:ethan_gustafson@outlook.com">ethan_gustafson@outlook.com</a>
            </p>
        `
    }
</script>