<h1>FilmPitch</h1>
<%= link_to "Profile", user_path(current_user) %>
<%= link_to "Create a new Pitch", new_user_pitch_path(current_user) %>
<%= link_to "All User Pitches", pitches_path %>
<%= link_to "Log Out", logout_path, method: 'delete' %>

<h4> Help make filmmakers dreams come true </h4>
<h2><strong>Projects fully funded</strong></h2>
<% Pitch.order_by_title.each do |pitch| %>
    <h3><%= pitch.title %></h3>
    <p><%= pitch.summary %></p>
<% end %>