<%= link_to "Profile", user_path(current_user) %>
<%= link_to "Create a new Pitch", new_user_pitch_path(current_user) %>
<%= link_to "All User Pitches", pitches_path %>
<%= link_to "Log Out", logout_path, method: 'delete' %>
<h1><%= current_user.username%></h1>