<%= stylesheet_link_tag "signup_login" %>
<h1 id="logo">FilmPitch</h1>
<div class="form">
<%= form_for(@user, url: new_user_path) do |f| %>

<% if @user.errors.any? %>
<div id="error_explanation">
    <h2>There were some errors:</h2>
    <ol>
    <% @user.errors.full_messages.each do |message| %>
    <li>
    <%= message %>
    </l1>
    <% end %>
    </ol>
    </div>
    <% end %>

<div class="field<%= ' field_with_errors' if @user.errors.any? %>">
    <%= f.text_field :name, placeholder: "Name" %>
</div>
    <br>

<div class="field<%= ' field_with_errors' if @user.errors.any? %>">
    <%= f.text_field :username, placeholder: "Username" %>
</div>

    <br>

<div class="field<%= ' field_with_errors' if @user.errors.any? %>">
    <%= f.email_field :email, placeholder: "Email" %>
</div>

    <br>

<div class="field<%= ' field_with_errors' if @user.errors.any? %>">
    <%= f.password_field :password, placeholder: "Password" %>
</div>

    <br>

<div class="field<%= ' field_with_errors' if @user.errors.any? %>">
    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
    <%= f.hidden_field :wallet, value: 0 %>
</div>

    <br>

    <%= f.submit "Sign Up"%>

    <h3>Already have an account? <%= link_to "Log in", login_path %></h3>
    <h3>Login through Twitter? <%= link_to "Log in", '/auth/twitter' %></h3>
    <% end %>
</div>
