<main class="form">
    <article>
        <div id="signup-form-header">
            <h2>Signup</h2>
            <p><%= flash.notice %></p>
        </div>
        <section>
            <%= form_for(@user, url: new_user_path) do |f| %>

            <% if @user.errors.any? %>
                <div id="error_explanation">
                    <h2>There were some errors:</h2>
                    <ol>
                        <% @user.errors.full_messages.each do |message| %>
                            <li><%= message %></l1>
                        <% end %>
                    </ol>
                </div>
            <% end %>

            <div class="field<%= ' field_with_errors' if @user.errors.any? %>">
                <div class="login-flex">
                    <%= f.label :name, "Name:" %>
                    <%= f.text_field :name, placeholder: "Name" %>
                </div>
            </div>

            <div class="field<%= ' field_with_errors' if @user.errors.any? %>">
                <div class="login-flex">
                    <%= f.label :username, "Username:" %>
                    <%= f.text_field :username, placeholder: "Username" %>
                </div>
            </div>

            <div class="field<%= ' field_with_errors' if @user.errors.any? %>">
                <div class="login-flex">
                    <%= f.label :email, "Email:" %>
                    <%= f.email_field :email, placeholder: "Email" %>
                </div>
            </div>

            <div class="field<%= ' field_with_errors' if @user.errors.any? %>">
                <div class="login-flex">
                    <%= f.label :password, "Password:" %>
                    <%= f.password_field :password, placeholder: "Password" %>
                </div>
            </div>

            <div class="field<%= ' field_with_errors' if @user.errors.any? %>">
                <div class="login-flex">
                    <%= f.label :password_confirmation, "Password Confirmation:" %>
                    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
                    <%= f.hidden_field :wallet, value: 0 %>
                </div>
            </div>

            <div class="login-flex">
                <%= f.submit "Sign Up"%>
            </div>
            <% end %>
        </section>

        <section id="other-options">
            <h2>Already have an account? <%= link_to "Log in", login_path %></h2>
            <h2>Login through Twitter? <%= link_to "Log in", '/auth/twitter' %></h2>
        <section>

    </article>
</main>
