<h1><%= link_to "Home", root_path%></h1>
<%= link_to "Create a new Pitch", new_pitch_path %>
<%= link_to "Log Out", logout_path, method: 'delete' %>

<% if current_user.id == @user.id %>
<h1>Username: <%= current_user.username%></h1>
<h4>Name: <%= current_user.name%></h4>
<h4>Wallet Balance: <%= current_user.wallet%></h4>
<h2><%= link_to "My Pitches", user_pitches_path(current_user)%></h2>

<% else %>
<h1>Username: <%= @user.username%></h1>
<h4>Name: <%= @user.name%></h4>
<h2><%= link_to "Pitches", user_pitches_path(@user)%></h2>
<% end %>

<% if current_user.id == @user.id %>
<h1><%= link_to "Add money to your account?", edit_user_path(current_user)%></h1>
<% end %>
