<main>
  <h2>Create New Project</h2>
  <div>
    <%= form_with model: @project, class: "new-project-form" do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "Name" %>
      </div>

      <div>
        <%= f.label :goal %>
        <%= f.number_field :goal, placeholder: "Goal" %>
      </div>

      <%= render partial: 'form', locals: {f: f} %>

      <div>
        <%= f.submit "Submit" %>
      </div>
    <% end %>
  </div>
</main>