<main>
  <article>
    <section id="name-goal-filmtype">
      <div id="project-name">
        <h1><%= @project.name %></h1>
      </div>

      <% if current_user_project? %>
        <div>
          <p><%= link_to  "Edit", edit_project_path(@project) %></p>
        </div>
      <% end %>

      <div>
        <h2>Film Type: <%= @project.film_type %></h2>
      </div>

      <div>
        <p>Goal: $<%= @project.goal %></p>
      </div>
    </section>

    <% if !@project.link.blank? %>
      <section>
        <iframe src=<%= @project.link %>></iframe>
      </section>
    <% end %>

    <section id="project-description-structure-themes">
      <div>
        <h2>Description:</h2>
        <p><%= @project.description %></p>
      </div>

      <div>
        <h2>Story Structure:</h2>
        <p><%= @project.story_structure %></p>
      </div>

      <div>
        <h2>Themes:</h2>
        <p><%= @project.themes %></p>
      </div>
    </section>

  </article>

  <article>
    <h3>Comments:</h3>
    <section>
      <%= form_with model: Comment.new do |f| %>
        <%= render partial: "comments/new", locals: {f: f, project: @project} %>
        <div>
          <%= f.submit "Submit" %>
        </div>
      <% end %>
    </section>

    <section>
      <% @comments.each do |comment|%>
        <div>

          <div>
            <h4><%= comment.user.display_name %></h4>
            <p><%= comment.description %></p>
          </div>

          <% if current_user.id == comment.user_id %>
            <div>
              <button>Edit</button>
              <p><%= link_to  "Delete", comment, method: :delete %></p>
            </div>
          <% end %>

        </div>
      <% end %>
    </section>
  </article>
</main>