<nav id="navbar" role="navigation" aria-label="Nav">
    <ol>
        <li><%= link_to "Home", root_path%></li>
        <li><%= link_to "Profile", user_path(current_user) %></li>
        <li><%= link_to "Create a new Pitch", new_pitch_path %></li>
        <li><%= link_to "All User Pitches", pitches_path %></li>
        <li><%= link_to "Log Out", logout_path, method: 'delete' %></li>
    </ol>
</nav>

<main>
    <h1>Funding: <em><%= @fund.pitch.title %></em></h1>

    <%= form_for @fund, :url => { :action => "create" } do |f| %>
        <p>Enter amount: </p>
        <%= f.number_field :amount %>
        <%= f.hidden_field :pitch_id, value: @fund.pitch.id %>
        <%= f.submit %>
    <% end %>
</main>