<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stripe_javascript_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('Film-icon.png') %>
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
    <%= yield :head %>
  </head>

  <body>

    <% if !!current_user %>
      <%= render partial: 'banner/loggedin_banner' %>
    <% else %>
      <%= render partial: 'banner/loggedout_banner' %>
    <% end %>

    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>
    
  </body>
</html>
