<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <title>FilmPitch</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('Film-icon.png') %>
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
    <%= yield :head %>
  </head>

  <body>
    <header id="logo">
      <h1>FilmPitch</h1>
    </header>
    
    <%= yield %>
  </body>
</html>
