<main id="signin">
  <h2 style="text-align:center;width: 100%;">Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div style="display:flex;">
      <div style="flex: 1 1 50%" class="field">
        <%= f.label :first_name %>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "First Name", placeholder: "John" %>
      </div>

      <div style="flex: 1 1 50%" class="field">
        <%= f.label :last_name %>
        <%= f.text_field :last_name, autofocus: true, autocomplete: "Last Name", placeholder: "Doe" %>
      </div>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "johndoe@gmail.com" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password Confirmation" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>

    <%= render "users/shared/links" %>
  <% end %>
</main>
